# Django Configuration
DEBUG=True
SECRET_KEY=tu-clave-secreta-super-segura-cambiala-en-produccion
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Configuration
DB_NAME=dhl_db
DB_USER=dhl_user
DB_PASSWORD=dhl_password
DB_HOST=localhost
DB_PORT=5432



# DHL API Configuration
DHL_USERNAME=apO3fS5mJ8zT7h
DHL_PASSWORD=J^4oF@1qW!0qS!5b
DHL_BASE_URL=https://wsbexpress.dhl.com
DHL_ENVIRONMENT=sandbox

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002,http://127.0.0.1:3000

# Email Configuration (opcional)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-password-de-app

# AWS S3 Configuration (opcional para producción)
AWS_ACCESS_KEY_ID=tu-access-key
AWS_SECRET_ACCESS_KEY=tu-secret-key
AWS_STORAGE_BUCKET_NAME=tu-bucket-name
AWS_S3_REGION_NAME=us-east-1

# Sentry Configuration (opcional para monitoreo)
SENTRY_DSN=tu-sentry-dsn

 